.container {
  display: flex;
  flex-wrap: wrap;          /* allows multiple rows if needed */
  align-items: stretch;     /* equal height cards */
  
}

.card {
  display: flex;
  flex-direction: column;   /* stack content vertically */
  background-color: beige;
  max-width: 200px;
  font-family: sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  flex: 1 1 200px;          /* grow/shrink evenly, min width 200px */
}

.card img {
  width: 200px;
  height: 150px;            /* consistent image height */
  object-fit:contain;        /* crop/fit nicely */
}

.card h3 {
  margin: 0.25rem 0rem; /* reduce space below heading */
}

.card p {
  margin-top: 0.5rem;          /* remove extra space above paragraph */
}

.card button{
  background-color: rgb(132, 130, 130,0.5);
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition-duration: 0.4s;
}

.card button:hover{
  background-color: rgb(65, 171, 65,0.5);
  color: black;
  border: 1px solid #555555;
}
.error {
  color: darkblue;
  font-size: 8rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}