.container {
  display: flex;
  flex-wrap: wrap;          /* allows multiple rows if needed */
  align-items: stretch;     /* equal height cards */
  
}

.card {
  display: flex;
  flex-direction: column;   /* stack content vertically */
  background-color: beige;
  max-width: 200px;
  font-family: sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  flex: 1 1 200px;          /* grow/shrink evenly, min width 200px */
}

.card img {
  width: 200px;
  height: 150px;            /* consistent image height */
  object-fit:contain;        /* crop/fit nicely */
}

.card h3 {
  margin: 0.25rem 0rem; /* reduce space below heading */
}

.card p {
  margin-top: 0.5rem;          /* remove extra space above paragraph */
}
